*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
}

.navbar .logo img {
  width: 100px;
}

.header-left {
  display: flex;
  align-items: center;
  position: left;

}

.header-left a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
  font-size: 10px;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-list a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-list a:hover {
  background-color: whitesmoke;
}

/* Right side styles */
.right a, .right button {
  margin-left: 20px;
}

/* Mobile menu toggle */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .header-left {
    display: none; /* Hide the navigation links by default */
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #807c7c;
  }

  .header-left a {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }

  .header-left.active {
    display: flex; /* Show the links when the menu is active */
  }
}
j

.right {
  float: right;
  display: inline;
  position: sticky;
  top: 10px;
  right: 10px;
  padding: 5px 8px;
  font-size: 5px;
}

.icon-register {
  size-adjust: 10px;
  

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 60px;
  align-self: left;
  float: left;
  font-weight: 500px;}
p{
  font-size: 15px;
  padding-left: 0%;
  float: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container img {
  max-width: 80%;
  max-height: 80%;
  float: right;
}

.btn-button {
  border: #f1f1f1 ;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 10px;
  margin: 4px 2px;
  cursor: grab;
  background-color: white;
  border-radius: 2%;

}


.btn-button :hover {
  color: red;
}

.attribution img {
  padding: 5px 7px;
float: left;
top: 05px;
display: block;
  right: 05px;
}
  
